/************************************************************************************
smaller than 1500
*************************************************************************************/
@media screen and (max-width: 1304px) {

    #contents {
        width: 900px;
        margin:auto;
    }
    /* 下面不要，影响页面缩放时显示效果
    .leftBar {
        display: none
    }

    .rightBar {
        display: none
    }*/

}